body{
  margin:0
}
.login-page{
height:100vh;
}
.login-form{
  justify-content: center;
  display: flex;
  flex-direction: column;
  align-items: center;


}
.w-300{
  width:300px;
}
.w-800{
width:800px;
display: flex;
justify-content: center;
align-items: center;
margin:0 auto;
}
.bg-gradient{
  background:url('./Images/bg-pattern.svg');
background-position: center;
background-repeat: no-repeat;
background-size: cover;
}
.img-center{
  display: flex;
  justify-content: center;
  align-items: center;
}
.item-between{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pt-6{
  padding-top: 30px;
}
.btn-primary{
  border-radius: 16px;
background: linear-gradient(100deg, #9181F4 -5.85%, #5038ED 109.55%);
box-shadow: 0px 8px 21px 0px rgba(0, 0, 0, 0.16);

}
.bg-gr{
  background: linear-gradient(100deg, #9181F4 -5.85%, #5038ED 109.55%);
  
}
.navbar{
  padding: 15px 30px;
}
.Table-header{
  background-color: #7b81a1;
  color: white;
}
.Table-header .MuiTableCell-root{
  color:white;
}
.main-section{
  padding: 30px 50px;
}
.table-mr{
  padding-top: 30px;
}
.font-20{
  font-size: 20px;
  font-weight: 600px;
}
.MuiPaper-root{
  box-shadow: none;
}